<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="modelo.Properties.Settings.db_othelloConnectionString"
            connectionString="Data Source=LAPTOP-91JLOEFB\SQLEXPRESS;Initial Catalog=db_othello;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>